body {
  background-image: url("./images/sky.jpg");
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -100;
}

#newbackground {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000000;
}

.stretch {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.bird {
left:100px;
z-index:200;
position:absolute;
height:200px;
width:200px;
top:200px;
}
.bird1 {
  right:80px;
  z-index:200;
  position:absolute;
  height:150px;
  width:200px;
  left:900px;
  top:80;
}


.color {
  width:150px;
  position:absolute;
  left:20px;
  /*left:20vh;*/

}
.color1 {
  width:20vw;
  /*display:flex;*/
  position:absolute;
  float:left;
  /*bottom:180px;*/
  top:50px;
  left: 1000px;

}

.color2 {
  width:550px;
  position:absolute;
  float:left;
  left:400px;
  top:200px;

}

.color3{
  position:absolute;
  right:130vh;
  /*left:20vw;*/
  bottom:35px;
  text-align: center;
}
.color4 {
  width: 35vw;
  height: auto;
  position:absolute;
  left: 75vw;
  top: 60vh;
}

img {
  width: 50%;
}

#opener {
  text-align:center;
}
